#error{
    display: none;
}
#erro1{
    display: none;
}
#erro2{
    display: none;
}
#erro3{
    display: none;
}
#erro4{
    display: none;
}
#erro5{
    display: none;
}
#erro6{
    display: none;
}
#erro7{
    display: none;
}
#erro8{
    display: none;
}